<?php

/** @var \Overdose\Brands\Block\ServerTime $block */
?>
<script type="text/x-magento-init">
        {
            "*": {
                "Overdose_Brands/js/time-component": {
                    "AjaxUrl": "<?php echo $block->getAjaxUrl(); ?>"
                }
            }
        }
</script>
<li class="time-wrap" style="display: none">
   <span class="time-block"></span>
</li>
